/**reset*/
:root {
  --onDarkOverlaySoft: rgba(8, 8, 8, 0.5607843137254902);
  --onDarkOverlayHard: rgba(8, 8, 8, 0.9019607843137255);
  --textPrimary: #171717;
  --textSecondary: #707070;
  --textTertiary: #b3b3b3;
  --textParagraph: #363636;
  --textAccent: #118cdf;
  --textAccentGradient: linear-gradient(75.33deg, #12c2f3, #2281e0);
  --textPositive: #1a9e32;
  --textWarning: #f55d05;
  --textNegative: #ff293e;
  --textAccentSecondary: #ff1f78;
  --textAccentGradientSecondary: linear-gradient(75.33deg, #ff94c9, #f00563);
  --onDarkTextPrimary: #f9f9f9;
  --onDarkTextSecondary: #949494;
  --onDarkTextTertiary: #4e4e4e;
  --onDarkTextParagraph: #c7c7c7;
  --onDarkTextAccent: #52baff;
  --onDarkTextAccentGradient: linear-gradient(75.33deg, #4ad6fc, #389afc);
  --onDarkTextPositive: #24b23e;
  --onDarkTextWarning: #ff7024;
  --onDarkTextNegative: #ff3d51;
  --onDarkTextAccentSecondary: #ff8fbc;
  --onDarkTextAccentGradientSecondary: linear-gradient(75.33deg, #ffb2e5, #ff4791);
  --onLightTextPrimary: #171717;
  --onLightTextSecondary: #707070;
  --onLightTextTertiary: #b3b3b3;
  --onLightTextParagraph: #363636;
  --onLightTextAccent: #118cdf;
  --onLightTextAccentGradient: linear-gradient(75.33deg, #12c2f3, #2281e0);
  --onLightTextPositive: #1a9e32;
  --onLightTextWarning: #f55d05;
  --onLightTextNegative: #ff293e;
  --onLightTextAccentSecondary: #ff4791;
  --onLightTextAccentGradientSecondary: linear-gradient(75.33deg, #ff94c9, #f00563);
  --inverseTextPrimary: #f9f9f9;
  --inverseTextSecondary: #949494;
  --inverseTextTertiary: #4e4e4e;
  --inverseTextParagraph: #c7c7c7;
  --surfaceSolidDefault: #171717;
  --surfaceSolidPrimary: #f5f5f5;
  --surfaceSolidSecondary: #ececec;
  --surfaceSolidTertiary: #ddd;
  --surfaceSolidCard: #fff;
  --surfaceTransparentPrimary: rgba(8, 8, 8, 0.03137254901960784);
  --surfaceTransparentSecondary: rgba(8, 8, 8, 0.06);
  --surfaceTransparentTertiary: rgba(8, 8, 8, 0.12);
  --surfaceTransparentCard: #fff;
  --surfaceAccent: #199af0;
  --surfaceAccentGradient: linear-gradient(75.33deg, #12c2f3, #2b8ced);
  --surfacePositive: #1a9e32;
  --surfaceWarning: #fa5f05;
  --surfaceNegative: #ff293e;
  --surfaceClear: transparent;
  --surfaceAccentSecondary: #ff4791;
  --surfaceAccentGradientSecondary: linear-gradient(75.33deg, #fc95da, #ff1f78);
  --onDarkSurfaceSolidDefault: #fff;
  --onDarkSurfaceSolidPrimary: #171717;
  --onDarkSurfaceSolidSecondary: #262626;
  --onDarkSurfaceSolidTertiary: #363636;
  --onDarkSurfaceSolidCard: #171717;
  --onDarkSurfaceTransparentPrimary: hsla(0, 0%, 100%, 0.06);
  --onDarkSurfaceTransparentSecondary: hsla(0, 0%, 100%, 0.12);
  --onDarkSurfaceTransparentTertiary: hsla(0, 0%, 100%, 0.2);
  --onDarkSurfaceTransparentCard: hsla(0, 0%, 100%, 0.058823529411764705);
  --onDarkSurfaceAccent: #199af0;
  --onDarkSurfaceAccentGradient: linear-gradient(75.33deg, #12c2f3, #2b8ced);
  --onDarkSurfacePositive: #24b23e;
  --onDarkSurfaceWarning: #ff7024;
  --onDarkSurfaceNegative: #ff293e;
  --onDarkSurfaceClear: transparent;
  --onDarkSurfaceAccentSecondary: #ff4791;
  --onDarkSurfaceAccentGradientSecondary: linear-gradient(75.33deg, #fc95da, #ff1f78);
  --onLightSurfaceSolidDefault: #171717;
  --onLightSurfaceSolidPrimary: #f5f5f5;
  --onLightSurfaceSolidSecondary: #ececec;
  --onLightSurfaceSolidTertiary: #ddd;
  --onLightSurfaceSolidCard: #f7f7f7;
  --onLightSurfaceTransparentPrimary: rgba(8, 8, 8, 0.03137254901960784);
  --onLightSurfaceTransparentSecondary: rgba(8, 8, 8, 0.06);
  --onLightSurfaceTransparentTertiary: rgba(8, 8, 8, 0.12);
  --onLightSurfaceTransparentCard: #fff;
  --onLightSurfaceAccent: #199af0;
  --onLightSurfaceAccentGradient: linear-gradient(75.33deg, #12c2f3, #2b8ced);
  --onLightSurfacePositive: #1a9e32;
  --onLightSurfaceWarning: #fa5f05;
  --onLightSurfaceNegative: #ff293e;
  --onLightSurfaceClear: transparent;
  --onLightSurfaceAccentSecondary: #ff4791;
  --onLightSurfaceAccentGradientSecondary: linear-gradient(75.33deg, #fc95da, #ff1f78);
  --backgroundPrimary: #f9f9f9;
  --darkBackgroundPrimary: #080808;
  --lightBackgroundPrimary: #f9f9f9;
  --inverseBackgroundPrimary: #080808;
  --skeletonGradient: linear-gradient(
      90deg,
      rgba(8, 8, 8, 0.09),
      rgba(8, 8, 8, 0.08) 6.25%,
      rgba(8, 8, 8, 0.05) 12.5%,
      rgba(8, 8, 8, 0.01) 25%,
      rgba(8, 8, 8, 0.05) 37.5%,
      rgba(8, 8, 8, 0.08) 43.75%,
      rgba(8, 8, 8, 0.09) 50%,
      rgba(8, 8, 8, 0.08) 56.25%,
      rgba(8, 8, 8, 0.05) 62.5%,
      rgba(8, 8, 8, 0.01) 75%,
      rgba(8, 8, 8, 0.05) 87.5%,
      rgba(8, 8, 8, 0.08) 93.75%,
      rgba(8, 8, 8, 0.09)
  );
  --skeletonGradientLighter: linear-gradient(
      90deg,
      rgba(8, 8, 8, 0.36),
      rgba(8, 8, 8, 0.32) 6.25%,
      rgba(8, 8, 8, 0.2) 12.5%,
      rgba(8, 8, 8, 0.04) 25%,
      rgba(8, 8, 8, 0.2) 37.5%,
      rgba(8, 8, 8, 0.32) 43.75%,
      rgba(8, 8, 8, 0.36) 50%,
      rgba(8, 8, 8, 0.08) 56.25%,
      rgba(8, 8, 8, 0.2) 62.5%,
      rgba(8, 8, 8, 0.04) 75%,
      rgba(8, 8, 8, 0.2) 87.5%,
      rgba(8, 8, 8, 0.32) 93.75%,
      rgba(8, 8, 8, 0.36)
  );
  --whitePrimary: #f9f9f9;
  --whiteSecondary: #949494;
  --whiteTertiary: #4e4e4e;
  --blackPrimary: #171717;
  --blackSecondary: #707070;
  --blackTertiary: #b3b3b3;
  --buttonBlack: #171717;
  --buttonBlackSecondary: rgba(8, 8, 8, 0.06);
  --buttonWhite: #fff;
  --buttonWhiteSecondary: hsla(0, 0%, 100%, 0.12);
  --text: #171717;
  --primary: #171717;
  --secondary: #707070;
  --tertiary: #b3b3b3;
  --paragraph: #363636;
  --background: #f9f9f9;
  --accent: #118cdf;
  --success: #1a9e32;
  --warning: #f55d05;
  --critical: #ff293e;
  --surfaceLiquid01: rgba(8, 8, 8, 0.03137254901960784);
  --surfaceLiquid02: rgba(8, 8, 8, 0.06);
  --surfaceLiquid03: rgba(8, 8, 8, 0.12);
  --surfaceSolid01: #f5f5f5;
  --surfaceSolid02: #ececec;
  --surfaceSolid03: #ddd;
  --surfaceCard: #fff;
  --buttonSecondary: rgba(8, 8, 8, 0.06);
  --buttonAccent: #118cdf;
  --buttonSuccess: #1a9e32;
  --buttonWarning: #fa5f05;
  --buttonCritical: #ff293e;
  --backgroundColor: #f9f9f9;
}

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif !important;
  font-size: 16px;
  color: #000000;
  font-display: swap;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.main-container {
  min-height: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  padding: 0;
}

h4,
h6 {
  font-size: 16px;
  line-height: 1.6;
}

img {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

/**base*/
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}
.row * {
  width: auto;
  padding: 0;
  margin: 0;
}

.row-flex {
  display: flex;
}

.main-title {
  font-size: 60px;
}

.count-reviews .count-review-star {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  flex-wrap: nowrap;
}
.count-reviews .count-review-star .count-review__text {
  display: block;
  margin-left: 0.2rem;
}

.breadcrumbs {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.breadcrumbs li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.form-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 450px;
}

/*header*/
.header {
  position: relative;
  z-index: 1000;
  background-color: #ffffff;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.5);
}

.header .row {
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row !important;
}

.header-logo {
  max-width: 173px;
  width: 100%;
  height: 40px;
}

.header-logo a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.header-logo img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/**navigation*/
.top-navigation {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.top-navigation .top-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.top-navigation .top-menu li a:hover {
  color: inherit;
  border-bottom: 0px;
  text-decoration: none;
}

/**search*/
.search {
  max-width: 100%;
  width: auto;
  min-height: 70vh;
  padding-top: 100px;
}

.search .row {
  flex-direction: column;
  justify-content: center;
}

.search-form {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.search-input {
  max-width: 80%;
  width: 100%;
  background: rgb(209, 205, 205);
  border: none;
  padding: 18px 19px 19px;
  border-radius: 10px;
}

.search-input::-moz-placeholder {
  font-size: 22px;
}

.search-input::placeholder {
  font-size: 22px;
}

.search-btn {
  background-color: #c90c27;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  padding: 18px 20px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.search-btn:active {
  transform: scale(0.98);
}

.search-btn:hover {
  background-color: #d12f48;
}

/**index*/
/**spec-cat*/
/**single-calendar*/
/**catalog-calendar-start*/
.calendar {
  margin-left: auto;
}

.s1nekmpj__20230525161148 {
  margin-top: 24px;
}

.suaz6qc__20230525161148 {
  padding: 0;
  margin-top: 16px;
}

.Text__t1oqnxex {
  font-family: var(--t1oqnxex-0);
  font-size: var(--t1oqnxex-1);
  line-height: var(--t1oqnxex-2);
  font-weight: var(--t1oqnxex-3);
  margin: var(--t1oqnxex-4);
  color: var(--t1oqnxex-5);
  text-align: var(--t1oqnxex-6);
  font-style: var(--t1oqnxex-7);
  white-space: var(--t1oqnxex-8);
  overflow: var(--t1oqnxex-9);
  text-overflow: var(--t1oqnxex-10);
  -webkit-font-smoothing: var(--t1oqnxex-11);
}

.sutsot4__20230525161148 {
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.d1olra9b__20230525161148 {
  display: flex;
  width: 308px;
  overflow: hidden;
}

.d15ppcnk__20230525161148 {
  display: flex;
  transition: all 0.3s ease;
  transform: var(--d15ppcnk-0);
}

.d1mdq979__20230525161148 {
  text-transform: uppercase;
  width: 32px;
  margin-right: 12px;
  opacity: var(--d1mdq979-0);
  pointer-events: var(--d1mdq979-1);
}

.bvy1ob5__20230525161148 {
  background-color: var(--bvy1ob5-0);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.d1mdq979__20230525161148 {
  text-transform: uppercase;
  width: 32px;
  margin-right: 12px;
  opacity: var(--d1mdq979-0);
  pointer-events: var(--d1mdq979-1);
}

.c1ln8sej__20230525161148 {
  width: 24px;
  height: 24px;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
  transform: var(--c1ln8sej-0);
}

.sqm0bsk__20230525161148 {
  display: flex;
  flex-wrap: var(--sqm0bsk-0);
  padding-top: 8px;
  overflow-x: auto;
}

.sqm0bsk__20230525161148 button {
  margin-right: 8px;
  margin-bottom: 8px;
  flex-shrink: 0;
}

.Button__b1oqnxex {
  display: flex;
  grid-gap: 6px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  border: var(--b1oqnxex-0);
  font-family: "SB Sans Interface", "Arial", sans-serif;
  background-color: var(--b1oqnxex-1);
  height: var(--b1oqnxex-2);
  width: var(--b1oqnxex-3);
  min-width: var(--b1oqnxex-2);
  border-radius: var(--b1oqnxex-5);
  font-size: var(--b1oqnxex-6);
  line-height: var(--b1oqnxex-7);
  font-weight: var(--b1oqnxex-8);
  color: var(--b1oqnxex-9);
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: var(--b1oqnxex-10);
  margin: var(--b1oqnxex-11);
  transition: all 0.3s ease;
  -webkit-font-smoothing: var(--b1oqnxex-12);
}

/**catalog-calendar-end*/
.calendar-wrapper {
  max-width: 430px;
  width: auto;
}

.calendar-title {
  text-align: center;
  display: flex;
  background: #00adee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  color: #ffffff;
}

table {
  clear: both;
  width: 100% !important;
  border: 1px solid #dcdcff;
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}

td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: 14.28571429%;
}

thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 1.5em;
}

td.not-current {
  color: #c0c0c0;
}

td.today {
  font-weight: 700;
  color: #fff;
  font-size: 1.5em;
  background: #00adee;
  border-radius: 50px;
  width: 48px;
}

#btnPrev {
  margin-left: 1.3rem;
}

#btnNext {
  margin-right: 1.3rem;
}

#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: transparent;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

#btnPrev svg {
  transform: rotate(-180deg);
}

.catalog {
  min-height: 70vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.spec-list {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #f2f6fb;
}

.spec-wrapper {
  max-width: 831px;
  margin: 0 auto;
}

.block-spec__categories {
  display: flex;
  flex-direction: column;
}

.block-spec__categories select {
  width: 180px;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
}

.block-spec__categories select option {
  margin: 5px 0;
}

.spec-item {
  display: flex;
  gap: 20px;
  background: #fff;
  box-shadow: 0 0 2px rgba(38, 54, 75, 0.08), 0 2px 24px rgba(26, 61, 107, 0.08);
  border-radius: 16px;
  margin-bottom: 16px;
  padding: 12px 20px 12px 12px;
  max-width: 831px;
  margin: 20px auto;
}

.spec-item .row {
  margin-left: 0;
  margin-right: 0;
  gap: 30px;
}

.sec-item__photo {
  display: block;
  width: 120px;
  height: 160px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.sec-item__photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.spec-item__info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.specialty {
  font-size: 12px;
}

.spec-name {
  font-size: 20px;
}

.work-experience {
  font-size: 12px;
}

.spec-item__price {
  font-size: 16px;
}

/**single-spec*/
.single-page .row {
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.single-page .spec-info {
  flex: 0 0 calc(50% + 3rem);
}
.single-page .spec-info__top {
  display: flex;
  gap: 3rem;
}
.single-page .spec-info__img {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}
.single-page .spec-info__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-page .spec-info__content {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.single-page .spec-info__content p {
  font-size: 14px;
}
.single-page .spec-info__bottom {
  margin-top: 3rem;
}
.single-page .spec-info__bottom--content {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.single-page .spec-info__bottom--content p:not(:last-child) {
  margin-bottom: 1rem;
}

.spec-calendar {
  flex: 0 0 420px;
  overflow-x: hidden;
}

.spec-reviews {
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: 720px;
}

.reviews-items .view-more {
  margin-top: 1rem;
}

.review-item {
  border-radius: 10px;
  box-shadow: 2px 2px 3px -2px rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
}
.review-item:first-child {
  margin-top: 2rem;
}
.review-item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.review-item__star--list {
  display: flex;
  align-items: center;
}
.review-item__text {
  padding: 1rem 0;
}

/**Footer*/
/***Profile**/
#v-pills-home .content-section .head-bg {
  background-color: #f4f4f4;
  border-radius: 20px;
}

#v-pills-home .content-section .card.card-intro {
  background-color: #ffefe5;
}

#v-pills-home .content-section .card.card-intro .img-wrap {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 120px;
  justify-content: center;
  overflow: hidden;
  width: 120px;
}

#v-pills-home .content-section .head-bg a,
#v-pills-home .content-section table {
  font-family: sans-serif;
  font-size: 14px !important;
}

#v-pills-home .content-section .card {
  border-radius: 20px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid !important;
  border-color: inherit !important;
}

#v-pills-home .content-section thead td {
  border: none;
  color: #28283b;
  text-transform: uppercase;
  font-size: 14px;
}

.shadow-c {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.11) !important;
}

.rating-stars:before {
  background: #eee;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.rating-stars img {
  display: block;
  height: 100%;
  position: relative;
  width: 70px;
  z-index: 1;
}

.rating-stars .filled-star {
  background: #fbca55;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#v-pills-home .content-section .rating .rating-bar .progress {
  border-radius: 0;
  height: 9px !important;
}

#v-pills-home .content-section .rating .rating-count {
  font-size: 12px;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}

#v-pills-home .first-section .row {
  flex-wrap: wrap;
}

#v-pills-home .content-section .card.card-total-appointment {
  background: url(/img/total-app.png), #101276;
  background-position: 20% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  background-size: cover;
  height: 200px !important;
  flex: 1 1 60%;
}

#v-pills-home .content-section .card.card-cancel-appointment {
  background: url(/img/cancel-app.png), #ffefe5;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  background-size: 100%;
  height: 200px !important;
  flex: 1 1 60%;
}
